# DB
DATABASE_HOST=
DATABASE_NAME="event-sorcerer-dashboard"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"

# Keycloak authentication
KEYCLOAK_CLIENT_ID="sample"
KEYCLOAK_CLIENT_SECRET="<client_secret>"
KEYCLOAK_ISSUER="http://localhost:8080/realms/sample"

# cookie encryption variables next auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="E<secret generated with npx auth secret>"
