KC_LOG_LEVEL=info
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_HOSTNAME_STRICT_HTTPS=false
KC_DB=postgres
KC_DB_SCHEMA=public
KC_DB_URL_PORT=5432
KC_DB_URL_HOST=host.docker.internal
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=postgres
KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=false
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin


KEYCLOAK_CONFIG_SERVER_URI=http://keycloak:8080
KEYCLOAK_CONFIG_REALM=master
