.grid-stack {
    grid-row: 1;
    grid-column: 1;
}

.grid-stack>svg {
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
    width: 100%;
}

@media (max-aspect-ratio: 1403 / 771) {
    .grid-stack>svg {
        height: 100%;
        width: auto;
    }
}
